{% extends "base.html" %}
{% block title %}/services
{% endblock title %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - Sunshine Orphanage</title>
    <link rel="stylesheet" href="styles2.css">
</head>
<body>
    <header>
        <h1>Sunshine Orphanage</h1>
    </header>
    <nav>
        
    </nav>
    <main>
        <section class="product-list">
            <h2>Our Products</h2>
            <p>By purchasing these products, you are directly supporting the children at Sunshine Orphanage. Thank you for your generosity!</p>
            
            <div class="product">
                <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/9957403a.webp" width="70" height="90">
                <h3>Teddy Bear</h3>
                <p>15.00</p>
                <button>Add to Cart</button>
            </div>

            <div class="product">
                <img src="https://i5.walmartimages.com/asr/6e2aa178-3448-4399-8e74-0d699d953e90.32ad38d397c4d46bd59cc5e47cf1688a.jpeg" width="70"height="90">
                <h3>School Supplies</h3>
                <p>125.00</p>
                <button>Add to Cart</button>
            </div>

            <div class="product">
                <img src="https://m.media-amazon.com/images/I/81-x+F2EsHL.jpg" width="70" height="90">
                <h3>Warm Blanket</h3>
                <p>220.00</p>
                <button>Add to Cart</button>
            </div>

            <div class="product">
                <img src="https://cdn.fcglcdn.com/brainbees/images/products/438x531/80612a.webp" width="70" height="90">
                <h3>Children's Book</h3>
                <p>$10.00</p>
                <button>Add to Cart</button>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Sunshine Orphanage. All rights reserved.</p>
    </footer>
</body>
</html>


{% endblock body %}
