/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #805050;
    color: #333;
}

header {
    background-color: #ffcc00;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover,
.active {
    background-color: #978746;
    color: white;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.about-us h2 {
    color: #ffcc00;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    nav ul li {
        float: none;
        width: 100%;
    }
}